
#main-grid {
  margin-top: 20px;
}

#submit-grid {
    margin-top: 1rem;
}

#feedback-grid {
    margin-top: 1rem;
}

#status-bar {
    padding: 2px 1rem;
}

#status-bar span {
  margin-right: 10px;
}

#modal-text {
    padding: 8px;
}
