
#main-grid {
  margin-top: 20px;
}

#submit-grid {
    margin-top: 1rem;
}

#feedback-grid {
    margin-top: 1rem;
}

#status-bar {
    padding: 2px 1rem;
    span {
        margin-right: 10px;
    }
}

#modal-text {
    padding: 8px;
}

.subproblem {
    background-color: #FFAAAA;
    padding: 2px 10px 3px 10px;
    border-radius: 2px;
    margin: 0px 2px;
}

.subproblem.solved {
    background-color: #AAFFAA;
}
