doctype html

include header

body
  div#main-grid.ui.center.aligned.grid
    div.twelve.wide.column
      div.ui.segments
        div.ui.segment
          p#question-para 123
        div.ui.secondary.segment
          p#answer-para 234

  script(src="semantic/jquery.min.js")
  script(src="semantic/semantic.min.js")
  script(src="js/main.js")
